<html>
    <header>
    </header>
    <body>
        <p/>
        {% include "header.html" %}
        <br>
        <table>
        <td align="center"><img src = "/static/logo2.png" width="300px"></td><td><h1>About Us</h1><h4>Just-a-SEC is a student-run food delivery service that advocates efficiency alongside a healthy lifestyle. <br><br>

In Ateneo De Manila University, students often forget to eat due to demanding academic requirements and hectic schedules. Through this platform, they will have the opportunity to browse food, order dishes, and make payments in advance. This would enable them to squeeze a few minutes of eating into their day.
<br><br>
Just-a-SEC bridges students to three stalls named DJ Chick, Downtown Fillet, and Mana. These are located in the John Gokongwei School of Management Student Entrepreneurship Center, which serves as an eating hub for students.</h4></td>
        </table>
        {% include "footer.html" %}
</body>
</html>