<html>
    <header>
        <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
    </header>
    <body style="margin-left:10%; margin-right:10%; padding:0">
        <p/>
        {% include "header.html" %}
        <table align="right" width="100%"><br>
        <td align="right"><h2> Welcome to </h2>
            <h1> Just-A-SEC! </h1> </td>
        <td><a href='/stalls'></a><img src = "/static/images/logo2.png" width="80%" align="right"></td>
        </table>
        <br>
        {% include "footer.html" %}
    </body>
</html>